.projects-header {
	color: #fff;
}

.projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #e0e0e0;
	overflow: hidden;
}

.projects h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
	color: #151e3f;
	font-weight: 300;
	letter-spacing: 2px;
}

.projects .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.projects .wrapper > * {
	margin: 5px;
}

.projects .media {
	width: 48vw;
	height: 35vh;
	overflow: hidden;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.projects .media img {
	max-width: 100%;
	height: auto;
}

.projects .layer {
	opacity: 0;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 10px;
	height: 90%;
	background: #fff;
	color: #151e3f;
	-webkit-transition: all 0.9s ease;
	transition: all 0.9s ease;
}

.projects .layer p {
	-webkit-transition: all 0.9s ease;
	transition: all 0.9s ease;
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
}

.projects p {
	font-family: "Inconsolata", monospace;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: bold;
}

.projects .media:hover .layer {
	opacity: 0.8;
	width: 90%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.projects .media:hover .layer p {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.9s ease;
	transition: all 0.9s ease;
}

@media (max-width: 800px) {
	.projects {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
}

@media (max-width: 600px) {
	.projects .wrapper {
		display: block;
	}
	.projects .wrapper > * {
		margin: 10px;
	}
}
