.buttons-coll {
	width: 140%;
	margin: 0 auto;
	text-align: center;
}
.buttons-coll a {
	margin: 20px;
	color: #000;
	text-decoration: none;
}
.custom-btn {
	padding: 10px 25px;
	min-width: 200px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	background: transparent;
	outline: none !important;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}
.btn-5 {
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
}
.btn-5 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.btn-5:before,
.btn-5:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: #000;
	transition: all 0.3s ease;
}
.btn-5:before {
	height: 50%;
	width: 2px;
}
.btn-5:after {
	width: 20%;
	height: 2px;
}
.btn-5:hover:before {
	height: 100%;
}
.btn-5:hover:after {
	width: 100%;
}
.btn-5 span:before,
.btn-5 span:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: #000;
	transition: all 0.3s ease;
}
.btn-5 span:before {
	width: 2px;
	height: 50%;
}
.btn-5 span:after {
	width: 20%;
	height: 2px;
}
.btn-5 span:hover:before {
	height: 100%;
}
.btn-5 span:hover:after {
	width: 100%;
}
