.headshot {
	width: 34%;
	margin: 0 auto;
}
.headshot img {
	width: 100%;
}
.content {
	background-color: #e7e5e4;
	min-height: 100vh;
}
@media only screen and (max-device-width: 768px) {
	.headshot {
		width: 63%;
	}
}
@media only screen and (max-device-width: 1230px) {
	.title {
		font-size: 4vw;
	}
}
