.logo .img-fluid {
	max-width: 100px !important;
	width: 20%;
	max-height: 100% !important;
}
.rotation {
	animation-name: rotation;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	-webkit-animation-name: rotation;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 10s;
}

@keyframes rotation {
	from {
		transform: rotateY(0deg);
		moz-transform: rotateY(0deg);
		ms-transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
		moz-transform: rotateY(360deg);
		ms-transform: rotateY(360deg);
	}
}
