.coded {
	position: relative;
	animation-delay: 0.5s;
}
.text {
	position: absolute;
	left: 50%;
	transform: translateX(-52%) translateY(-50%);
	list-style: none;
	padding-left: 0;
	width: 100%;
	text-align: center;
}
.hidden {
	left: 52%;
}
.coded .text li {
	display: inline-block;
	color: #000;
	transition: all 0.9s ease-in-out;
}
.text li {
	opacity: 1;
}
.coded .text li {
	max-width: 2em;
}
.text.hidden li.spaced {
	padding-left: 0;
}
.text li.spaced {
	padding-left: 0.5em;
}
.spaced {
	font-size: 3.5rem;
}
.ghost {
	font-size: 2.5rem;
}
.text.hidden li.ghost,
.text.hidden h1.ghost {
	opacity: 0;
	max-width: 0;
}
.text.move li {
	position: absolute;
}
@media only screen and (max-width: 1230px) {
	.spaced {
		font-size: 4vw;
	}
	.ghost {
		font-size: 2.5vw;
	}
}
