* {
	box-sizing: border-box;
}
html,
body,
body > div,
.column-container,
.left-column,
.middle-column,
.right-column {
	min-height: 100%;
	height: auto;
}
body {
	margin: 25px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.vh-100 {
	height: 100vh;
}
.vw-100 {
	width: 100vw;
}
.t-0 {
	top: 0;
}
.mt-6 {
	margin-top: 5em;
}
